<br>
<br>
<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-12" id="instruction"> Thank you. Your details have been successfully verified. Please
    enter your new PAN.
  </div>
</div>
<form class="container">

  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="ePAN">Existing PAN</label>
        <input type="number" class="form-control" id="ePAN" aria-describedby="emailHelp"  disabled placeholder="Existing PAN">
      </div>
    </div>
  </div>

  <div class="row or">
    <div class="col-sm">
      OR
    </div>
  </div>


  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="nPAN"></label>
        <input type="email" class="form-control" id="nPAN" aria-describedby="emailHelp" placeholder="New PAN">
      </div>
    </div>

  </div>


  <div class="col-sm">
    <a routerLink="/page3">
      <button type="button" class="btn btn-primary">Submit</button>
    </a>
  </div>

</form>