.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #0062a8;
  color: #fff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;

}

.mat-sidenav-content .mat-toolbar{

  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(0,98,168,1) 40%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(0,98,168,1) 40%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(0,98,168,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0062a8',GradientType=1 ); /* IE6-9 */
}

#side-menu{
  background-color: #0062a8;
  color: #fff;
}
a.mat-list-item{
  font-size: 13px;
  color: #fff !important;
}
