<div class="row" id="routeDisplay" style="margin-top:1%;">
  <div class="col-sm-12 col-md-12 col-lg-12"> Home &gt; Page 1 </div>
</div>

<div class="container">

  <div _ngcontent-c17="" class="col-sm-12 col-md-12 col-lg-12">
    <h4 _ngcontent-c17="">Welcome to YES Bank Service Request Portal!</h4>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12" id="enquiry"> What would you like to do today? </div>


    <a routerLink="/page1">
      <button type="button" class="btn btn-primary">Update PAN</button>
    </a>


</div>